<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href={{ url_for('static',filename= "css/centent.css")}} />
		<title>个人留言板</title>
	</head>
	<body>
		<div class="header-outs">
				<div class="p-font" >
					<p1>J</p1>
					<p2>ames</p2>
					<p1>的</p1>
					<p2>个人</p2>
					<p1>留</p1>
					<p2>言板</p2>
				</div>
				<div class="login">
			 		<form method="post">
        				留言: {{ form.content }}<br><br>
        				用户: {{ form.sender }}<br><br>
        				<input type="submit" value="提交" size=50px><br><br>
       			 		<input type="reset" value="重置" size=50px>
    				</form>
    				<ul>
        				{% for each in entries %}
                            留言 ： {{ each.content }} 来自 ： {{ each.sender }}
                            <br>
        				{% endfor %}
    				</ul>
    			</div>
		</div>
	</body>
</html>
